body {
  background-color: #1c1c1c;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

.container {
  background-color: #ecfdf5;
  font-family: Karla, sans-serif;
  border-radius: 5px;
  padding: 30px;
  width: 350px;
  height: 385px;
}

#title-text {
  font-weight: bold;
  margin-top: 50px;
}

#random-text {
  color: #5def92;
}

#hint-text {
  color: #6b7280;
  font-weight: 100;
}

#generate-btn {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #10b981;
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: white;
}

#generate-btn:hover {
  background-color: #273549;
}

#generate-btn:active {
  background-color: #10b981;
}

::placeholder {
  color: #5def92;
}

input {
  background-color: #273549;
  text-align: center;
  border: none;
  border-radius: 5px;
}

#placeholders {
  display: flex;
  justify-content: center;
  margin-top: 26px;
  height: 30px;
  gap: 65px;
}

#copy-hint {
  text-align: center;
  color: #6b7280;
}
